.App {
}

.nwv-table {
    padding-left: 10px;
    padding-right: 20px
}

.nwv-summary-table {
    font-weight: bold
}

.nwv-editable-value {
    text-align: right
}

.nwv-section-heading {
    color: green;
    text-align: center;
}

.nwv-static-text-column {
    text-align: left
}

.nwv-middle-columns {
    text-align: left
}

.nwv-last-column {
    text-align: right
}

.nwv-select-currency-row {
    text-align: right;
    padding-right: 20px
}
